<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Toggle numbers (even/odd)
      </button>
      <br /><br />
      <ul class="list-group">
        <!--  wrap in div, then ngif to display if onlyOdd is true -->
        <!-- !Odd numbers -->
        <!-- ! ngClass - conditional styling, if not even -->
        <!-- <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let odd of oddNumbers"
            [ngClass]="{ odd: odd % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ odd }}
          </li>
        </div> -->

        <!-- !Even numbers -->
        <!-- <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ even }}
          </li>
        </div> -->

        <div *appUnless="onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{ odd: even % 2 !== 0 }"
            [ngStyle]="{
              backgroundColor: even % 2 !== 0 ? 'yellow' : 'transparent'
            }"
          >
            {{ even }}
          </li>
        </div>
      </ul>

      <p appBasicHighlight>Style me with Basic Directive!</p>

      <!-- ! binding to defaultColor -->
      <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'">
        Style me with BETTER Directive!
      </p>

      <ng-template [ngIf]="onlyOdd">
        <p>Only Odd</p>
      </ng-template>
      <ng-template [ngIf]="!onlyOdd">
        <p>Only Even</p>
      </ng-template>
    </div>
  </div>
</div>
